<mat-toolbar color="primary">
  <span>{{ "app.navbar.name" | translate }}</span>
  <span class="toolbar-spacer"></span>
  <button mat-button [matMenuTriggerFor]="languageMenu">
    {{ "app.navbar.lang.name" | translate }}
  </button>
  <mat-menu #languageMenu="matMenu">
    <button mat-menu-item (click)="switchLang('en')">
      {{ "app.navbar.lang.en" | translate }}
    </button>
    <button mat-menu-item (click)="switchLang('ar')">
      {{ "app.navbar.lang.ar" | translate }}
    </button>
  </mat-menu>
  <button mat-icon-button aria-label="Menu button">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>